@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
:root {
  background-color: #0E1514;
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

body {
  overflow: hidden;
}

li {
  list-style: none;
  color: #f4f4f4;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 4em;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .l-navbar {
    height: 5em;
  }
}
.l-navbar__logo {
  cursor: pointer;
  height: 1.8em;
  width: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  border-right: 2px solid #03FA6E;
  animation: blink-caret 0.9s infinite;
  padding-right: 5px;
}
.l-navbar__logo__img {
  height: 65%;
  width: auto;
}
@media only screen and (min-width: 1024px) {
  .l-navbar__logo__img {
    height: 90%;
  }
}
.l-navbar__ul {
  position: relative;
  width: 50%;
  gap: 2em;
  justify-content: space-between;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .l-navbar__ul {
    display: flex;
  }
}
.l-navbar__ul__li {
  cursor: crosshair;
  position: relative;
  font-weight: 600;
  padding-bottom: 1px;
}
.l-navbar__ul__li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in;
}
.l-navbar__ul__li:hover::after {
  width: 100%;
}

.l-header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 90vh;
}
.l-header__content {
  margin: 5em 1em;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 6vh;
  justify-content: space-between;
  background-color: transparent;
}
@media only screen and (min-width: 560px) {
  .l-header__content {
    padding: 6vh 0;
    margin: 5em 2em;
    flex-direction: row;
    gap: 8%;
  }
}
@media only screen and (min-width: 1024px) {
  .l-header__content {
    border: 1px solid #03FA6E;
    padding: 16vh 2em;
    border-radius: 14px;
    margin: 6em 8em;
  }
}

.l-presentation {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2.6vh;
}
@media only screen and (min-width: 1024px) {
  .l-presentation {
    align-items: flex-start;
    max-width: 50vw;
    gap: 2em;
  }
}
.l-presentation__description {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (min-width: 560px) {
  .l-presentation__description {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .l-presentation__description {
    grid-template-columns: 1fr 1fr;
  }
}

.l-social-media {
  display: flex;
  gap: 2em;
}

.m-img-perfil {
  height: 25vh;
  aspect-ratio: 1/1;
  position: relative;
  z-index: 0;
  margin: 0.8em 2em;
}
@media only screen and (min-width: 560px) {
  .m-img-perfil {
    margin: 0 0.8em;
  }
}
@media only screen and (min-width: 1024px) {
  .m-img-perfil {
    margin: 0;
    left: 2em;
    height: 35vh;
  }
}
.m-img-perfil__img {
  background-color: #373a3b;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.m-img-perfil::after, .m-img-perfil::before {
  content: "";
  border: 2px solid white;
  border-radius: 8px;
  position: absolute;
  aspect-ratio: 1;
  z-index: -1;
}
.m-img-perfil::after {
  height: 105%;
  top: 0.8em;
  left: 0.8em;
}
@media only screen and (min-width: 560px) {
  .m-img-perfil::after {
    height: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .m-img-perfil::after {
    height: 105%;
    top: 2em;
    left: 2em;
  }
}
.m-img-perfil::before {
  top: -0.8em;
  left: -0.8em;
  height: 85%;
}
@media only screen and (min-width: 560px) {
  .m-img-perfil::before {
    height: 75%;
  }
}
@media only screen and (min-width: 1024px) {
  .m-img-perfil::before {
    height: 80%;
    top: -2em;
    left: -2em;
  }
}

.m-title {
  color: white;
}
.m-title--m {
  font-size: 1em;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .m-title--m {
    font-size: 1.4em;
  }
}
.m-title--xxl {
  font-size: 2.6em;
  font-weight: 800;
  width: 40vw;
  text-align: start;
  text-wrap: wrap;
}
@media only screen and (min-width: 1024px) {
  .m-title--xxl {
    font-size: 5em;
  }
}

.m-description {
  color: #03FA6E;
  font-size: 0.65em;
  font-weight: 400;
}
@media only screen and (min-width: 1024px) {
  .m-description {
    font-size: 0.9em;
  }
}

.m-menu-hamburguer {
  position: relative;
  height: 1.2em;
  width: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}
.m-menu-hamburguer__line {
  height: 3px;
  background-color: white;
  width: 100%;
  border-radius: 2px;
  transition: transform 0.3s ease-in, width 0.3s ease-in, color 0.3s ease-in;
}
.m-menu-hamburguer__line--left, .m-menu-hamburguer__line--right {
  width: 50%;
}
.m-menu-hamburguer__line--left {
  align-self: flex-start;
}
.m-menu-hamburguer__line--right {
  align-self: flex-end;
}
.m-menu-hamburguer:hover .m-menu-hamburguer__line {
  width: 100%;
}
.m-menu-hamburguer.active .m-menu-hamburguer__line {
  background-color: #03FA6E;
}
.m-menu-hamburguer.active .m-menu-hamburguer__line--left {
  transform: translateY(0.5em) rotate(-45deg);
  width: 100%;
}
.m-menu-hamburguer.active .m-menu-hamburguer__line--mid {
  transform: rotate(45deg);
}
.m-menu-hamburguer.active .m-menu-hamburguer__line--right {
  width: 0;
}

.m-icon-social {
  fill: #fff;
  height: 2em;
  width: auto;
  cursor: crosshair;
  z-index: 10;
  transition: transform 1s ease-out, fill 1s ease-out;
}
.m-icon-social:hover {
  fill: #03FA6E;
  transform: rotateY(360deg);
}
@media only screen and (min-width: 1024px) {
  .m-icon-social {
    height: 3em;
  }
}

.m-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgb(14, 21, 20);
  background: linear-gradient(180deg, rgb(14, 21, 20) 50%, rgb(18, 30, 21) 79%, rgb(28, 56, 22) 100%);
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s, opacity 0.3s;
  pointer-events: none; /* No permite interacciones mientras está cerrado */
  padding: 6em;
}
.m-menu ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.m-menu ul li {
  margin-bottom: 15px;
  font-size: 2em;
  color: #03FA6E;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 900;
  text-transform: uppercase;
}
@media only screen and (min-width: 1024px) {
  .m-menu ul li {
    font-size: 3.6em;
  }
}
.m-menu ul li:hover {
  color: #00baba; /* Cambia de color al pasar el ratón */
}

.p-6 {
  padding-left: 6em;
  padding-right: 6em;
}

.p-8 {
  padding-left: 1em;
  padding-right: 1em;
}
@media only screen and (min-width: 560px) {
  .p-8 {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .p-8 {
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media only screen and (min-width: 1720px) {
  .p-8 {
    padding-left: 8em;
    padding-right: 8em;
  }
}

.pl-6 {
  padding-left: 6em;
}

.pl-8 {
  padding-left: 8em;
}

.pr-8 {
  padding-right: 1em;
}
@media only screen and (min-width: 1024px) {
  .pr-8 {
    padding-right: 4em;
  }
}
@media only screen and (min-width: 1720px) {
  .pr-8 {
    padding-right: 8em;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #03FA6E;
  }
}/*# sourceMappingURL=style.css.map */