@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
:root{
    background-color: #0E1514;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    color: white;
}

a{
    text-decoration: none;
    color: #f4f4f4;
}

li{
    list-style: none;
    color: #f4f4f4;
}