@import "variables.scss";


.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 4em;
    //border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    z-index: 2;
    @include desktop{
        height: 5em;
    }

    &__logo{
        cursor: pointer;
        height: 1.8em;
        width: auto;
        display: flex;
        align-items: center;
        gap: 8px;
        border-right: 2px solid $green-1;
        animation: blink-caret .9s infinite;
        padding-right: 5px;
        &__img{
            height: 65%;
            width: auto;
            @include desktop{
                height: 90%;
            }
        }
    }

    &.bg-white{
        .l-navbar__logo{
            border-right: 2px solid $principal-color;
            animation: blink-caret-black .9s infinite;
            &__img{
                path{
                    transition: all .6s ease-in;
                }
                .path-2{
                    fill: $principal-color;
                }
                .path-1{
                    fill: $principal-color;
                }
            }
        }
        .m-menu-hamburguer__line{
            background-color: $principal-color;
        }
    }
    
   
}

.l-header{
    position: relative;
    z-index: 1;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 5em 1em;
    @include tablet{
        padding: 5em 6%;
    }
    @include desktop{
        padding: 6em 8% 2em;
    }
    &__content{
        width: 100%;
        //padding: 6em 2em 2em 2em;
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 6vh;
        justify-content: space-between;
        background-color: transparent;
        @include tablet{
            padding: 6vh 0;
            flex-direction: row;
            gap: 12%;
        }
        @include desktop{
            border: 1px solid $green-1;
            padding: 12vh 2em;
            border-radius: 12px;
            gap: 15%;
        }
    }
}

.l-presentation{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2.6vh;
    
    @include desktop{
        align-items: flex-start;
        max-width: 50vw;
        gap: 2em;
    }

    &__description{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        @include desktop{
            grid-template-columns: 1fr 1fr;
        }
    }
}

.l-social-media{
    display: flex;
    gap: 2em;
}

.l-section-skills{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: $principal-color;
    overflow: hidden;
}

.l-article-title{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.l-outer {
    position: relative;
    overflow: hidden;
}
.l-scroll {
    position: relative;
    width: 100vw;
    height: 100vh;
    //border: 2px solid red;
    overflow: hidden;
}

.l-section-scroll {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    flex: 1;
    padding: 6em 8% 2em 8%;
    & > :nth-child(even){
        @include desktop{
            flex-direction: row-reverse;
        }
    }
    &:nth-of-type(1) {
        border: 0px solid #373a3b;
    }
    &:nth-of-type(2) {
        background-color: $green-1;
        grid-template-rows: auto;
        transform: translateX(100%);
        *{
            color: $principal-color !important;
        }
    }
    &:nth-of-type(3) {
        background-color: $white2;
        transform: translateX(100%);
        *{
            color: $principal-color !important;
        }
    }
}

.l-article-about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //border: 1px solid blue;
    width: 100%;
    gap: 1em;
    overflow: hidden;
    @include desktop{
        gap: 6em;
        flex-direction: row;
    }
}

.l-about-title{
    //border: 1px solid red;
    display: flex;
    //align-items: center;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
}

.l-article-skill {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
    padding: 6em 8% 2em 8%;
    gap: 4em;

    @include tablet{
        display: grid;
        gap: 3em;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
    }
}

.l-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom:3em;
    h2{
        margin-bottom: 2em;
        @include desktop{
            margin-bottom: .6em;
        }
    }

    &--center{
        gap: 30px;
    }
    @include desktop{
        gap: 5em;
        margin-bottom: 0;
    }
}

.l-skill-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    @include desktop{
        flex-direction: row;
    }
}

.l-article{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(234, 234, 234);
    color: #242424;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.l-card-content{
    position: relative;
    //border: 1px solid $green-1;
    width: 100%;
    height: 100%;
    //background-color: $principal-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
    &>:nth-child(even){
        align-self: end;
    }
    &>:nth-child(odd){
        align-self: flex-start;
    }
    @include tablet{
        padding: 6em 8%;
    }
    @include desktop{
        padding: 6em 8%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        column-gap: 3em;
        &>:nth-child(1){
            justify-self: end;
        }
        &>:nth-child(2){
            justify-self: start;
        }
    }

}