.p-6{
    padding-left: 6em;
    padding-right: 6em;
}
.p-8{
    padding-left: 1em;
    padding-right: 1em;

    @include tablet{
        padding-left: 6%;
        padding-right: 6%;
    }

    @include desktop{
        padding-left: 8%;
        padding-right: 8%;
    }

    @include bigDesktop{
        padding-left:8em;
        padding-right: 8em;
    }
}

.pl-6{
    padding-left: 6em;
}

.pl-8{
    padding-left: 8em;
}

.pr-8{
    padding-right: 1em;

    @include desktop{
        padding-right: 4em;
    }

    @include bigDesktop{
        padding-right: 8em;
    }
}