// Colores 
$principal-color: #0E1514;
$green-1: #03FA6E;
$green-2: #69f723;
$blue-1: #5c0e4a;
$gray-1: #373a3b;


// widths
$tablet: 560px;
$desktop: 1024px;
$bigDesktop: 1720px;
$extraDesktop: 2500px;