// Colores 
$principal-color: #0E1514;
$black-down: #0e15149b;
$green-1: #03FA6E;
$green-2: #69f723;
$green-3: #006414;
$blue-1: #5c0e4a;
$gray-1: #373a3b;
$gray-2: #595c5c;

// widths
$tablet: 560px;
$desktop: 1024px;
$bigDesktop: 1720px;
$extraDesktop: 2500px;