@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);

}
.headroom--unpinned {
    transform: translateY(-100%);
}

.word{
    overflow: hidden;
}

.project-img{
    background: rgb(5,81,88);
    background: -moz-linear-gradient(156deg, rgba(5,81,88,1) 0%, rgba(40,175,235,1) 100%);
    background: -webkit-linear-gradient(156deg, rgba(5,81,88,1) 0%, rgba(40,175,235,1) 100%);
    background: linear-gradient(156deg, rgba(5,81,88,1) 0%, rgba(40,175,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#055158",endColorstr="#28afeb",GradientType=1);
}


.headroom--not-top ul{
    background-color: #242424;
}